<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
      label {
        display: inline-block;
        font-weight: 800;
        min-width: 200px;
        width: 200px;
        text-align: right;
        margin-right:10px;
        vertical-align:top;
      }
      .error{
        padding:10px;
        background: #eee;
        border:1px solid darkred;
        color: darkred;
        border-radius: 3px;
        max-width:600px;
        margin: 20px 0;
        font-size:1.1rem;
      }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
